
caption {
    margin: 0 20px;
    text-align: left;
}

#content {
    padding: 8px;
    border-spacing: 0px;
}

.table-header th {
    text-align: left;
    background: linear-gradient(to top, #f5f5dc, #f1c3a2);
    border: 1px dotted #deb887;
    border-bottom: 0;
    margin: 1px 3px;
    color: #966;
}

td {
    border-bottom: 1px dotted #deb887;
}

th.file-description {
    text-align: right;
}

.btn-refresh-table {
    border: solid gray 1px;
    background: #F5F5DC;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin: 2px;
}