body {
    background: #f0ffff;
}

form {
    background: #f5f5dc;
    padding: 6px;
    display: block;
    border: dotted 1px #deb887;
}

input, textarea {
    margin: 4px;
}

/* upload forms */

#dropZone
{
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #eee;
    width: 250px;
    padding: 50px 0;
    text-align: center;
    font-size: 18px;
    color: #555;
    margin: 50px auto;
}

#mf.hover
{
    border-color: #aaa;
    background-color: #ddd;
}

#mfdd.error
{
    border-color: #f00;
    background-color: #faa;
}
#mfdd.warning
{
    display: block;
    background-color: #ff8c00;
    color: black;
    font-style: italic;
}
.warning a
{
    color: blue;
    font-weight: bold;
}

.type-img {
    background-color: #9acd32;
}
.type-bin {
    background-color: #f5f5dc;
}
.type-exe {
    background-color: #f0e68c;
}
.type-txt {
    background-color: #ffe4c4;
}
.type-doc {
    background-color: #87cefa;
}
.type-zip {
    background-color: #f4a460;
}